services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db
  rabbitmq:
    image: rabbitmq:v1
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
      - rabbitmq:/var/lib/rabbitmq
  redis:
    image: redis:v1
    container_name: redis
    volumes:
      - redis:/data
  mysql:
    image: mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql
  
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
  user:
    image: user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis

  cart:
    image: cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue
  shipping:
    image: shipping:v1
    container_name: shipping
    depends_on:
      - cart
      - mysql
  payment:  
    image: payment:v1
    container_name: payment
    depends_on:
      - cart
      - user
      - rabbitmq
  frontend:
    image: frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: false

volumes:
  mongodb:
  redis:
  rabbitmq:
  mysql:
